<header>

    <nav class="navbar navbar-expand-lg navbar-light  fixed-top" id="mainNav" style="background-color: tomato;">
    <div class="container-fluid" style="background-color: tomato;">
      <a class="navbar-brand js-scroll-trigger" href="index.html">
        
       <img src="/assets/logo.png" style="height: 50px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            
          <li class="nav-item active">
            <a class="nav-link" href="index.html"><i class="fa fa-home" style="color: white;"></i> &nbsp;Home  </a>
          </li>
          <li class="nav-item">
            <button routerLinkActive="active" routerLink="/admin/main/products" class="btn  btn-block" style="color: white; "><i class="fa fa-barcode"></i> &nbsp;Products</button>
          </li>
          <li class="nav-item">
            <button routerLinkActive="active" routerLink="/admin/main/categories" class="btn btn-block" style="color: white;"><i class="fa fa-bars"></i> &nbsp;Categories</button>
          </li>
          <li class="nav-item">
            <button routerLinkActive="active" routerLink="/admin/main/orders" class="btn  btn-block" style="color: white;"><i class="fa fa-clone"></i> &nbsp;Orders</button>
          </li>
          <li class="nav-item">
            <button (click)="logout()" class="btn btn-outline-warning btn-block">Çıkış</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
<body>
<div class="container-fluid" style="padding-top: 130px;">
   
    
    <div class="content-box" style="background-color: white;">

       
        <div class="col-12">
            <router-outlet></router-outlet>
            </div>
    </div>
    
</div>
</body>