<div class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color:tomato " >
    <div class="container">
        <img src="/assets/logo.png" style="height: 70px">
        <ul class="navbar-nav mr-auto" style="padding-left: 100px;">
            <li class="navbar-nav" style="padding: 5px;">
                <a routerLink="/shop" class="nav-link active"><i class="fa fa-home"></i> &nbsp;Home</a>
            </li>
            <li class="navbar-nav" style="padding: 5px;">
                <a routerLink="/shop" class="nav-link  " ><i class="fa fa-bars"></i> &nbsp;Products</a>
            </li>
            <li class="navbar-nav"style="padding: 5px;">
                <a routerLink="/cart" class="nav-link " ><i class="fa fa-credit-card"></i> &nbsp;Cart</a>
            </li>
            <li class="navbar-nav"style="padding: 5px;">
                <a routerLink="/shop" class="nav-link " ><i class="fa fa-sort-down"></i> &nbsp;Orders</a>
            </li>        
            <li class="navbar-nav"style="padding: 5px;">
                <a routerLink="/admin/main" class="nav-link" ><i class="fa fa-user-shield"></i> &nbsp;Admin</a>
            </li>     
        </ul>

        <ul class="navbar-nav ml-auto">         
            <li class="navbar-nav">
                <a href="" class="nav-link ">Login</a>
            </li>
            <li class="navbar-nav">
                <a href="" class="nav-link ">Register</a>
            </li>
            <li class="navbar-nav">
                <a href="" class="nav-link ">Logout</a>
            </li>
        </ul>
    </div>



</div>