
<!-- Site footer -->


<div class=" text-center text-lg-start" style="background-color: tomato;">
  <!-- Grid container -->
  <div class="container p-4" style="background-color: tomato;">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase" style="color: white;">Misyonumuz</h5>

        <p style="color: white;">
          Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcıveya sağlayıcının kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmeler.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase" style="color: whitesmoke">Sayfalar</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text" style="color: white;">Anasayfa</a>
          </li>
          <li>
            <a href="#!" class="text" style="color: white;">Sepetim</a>
          </li>
          <li>
            <a href="#!" class="text" style="color: white;">Giriş</a>
          </li>
          <li>
            <a href="#!" class="text" style="color: white;">Ürünler</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0" style="color:whitesmoke">Popüler Ürünler</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text" style="color: white;">İphone 11</a>
          </li>
          <li>
            <a href="#!" class="text" style="color: white;">Lenova 8</a>
          </li>
          <li>
            <a href="#!" class="text" style="color: white;">Samsung Galaxy Ice</a>
          </li>
          <li>
            <a href="#!" class="text" style="color: white;">HP Bilgisayar</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color:rgb(204, 77, 55)">
    © 2020 Copyright:
    <a class="text" href="" style="color: white;">Fatih Arıcılık</a>
  </div>
  <!-- Copyright -->
</div>
<!-- Footer -->