<navbar></navbar>
<div class="container pt-100 mb-5">
    <div class="text-center">
        <h1 class="mb-2" style="color: tomato;">
           <i class="fa fa-shopping-basket"></i> Alışveriş Sepetiniz
        </h1>
        
    </div>
    <br>
    <div class="row">
        <div class="col-8">
            <ng-container *ngIf="cart.itemCount>0">
                <table class="table table-hover" style=" background-color: whitesmoke ;border-style:hidden"   >
                    <thead>
                        <tr>
                            <th></th>
                            <th><i class="fa fa-shopping-basket"></i>&nbsp;Ürün</th>
                            <th><i class="fa  fa-coins"></i>&nbsp;Fiyat</th>
                            <th><i class="fa fa-plus-circle"></i>&nbsp;Miktar</th>
                            <th><i class="fa fa-shopping-basket"></i>&nbsp;Toplam</th>
                            <th></th>      
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cart.items">
                            <td>
                                <img src="assets/{{item.product.imageUrl}}" width="80">
                            </td>
                            <td>{{item.product.name}}</td>
                            <td>{{item.product.price}} TL</td>
                            <td>
                                <input type="number" min="1" class="form-control" style="width: 50px; " [value]="item.amount" (change)="cart.updateAmount(item.product,$event.target.value)">
                            </td>
                            <td>{{item.amount*item.product.price}} TL</td>
                            <td>
                                <button class="btn btn-danger btn-sm" (click)="cart.removeItem(item.product.id)"><i class="fa fa-times fa-fw"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <ng-container *ngIf="cart.itemCount==0">
               <div class="alert alert-warning mt-3">
                   Sepetinizde ürün yok <br>
                   <button  routerLink="/shop" class="btn btn-link p-0">
                       Alışverişe devam etmek için tıklayınız.
                   </button>
               </div>
            </ng-container>
        </div>
        <div class="content-box col-4" style="background-color: whitesmoke;">
            <ng-container *ngIf="cart.itemCount>0">
                <div class="text-center">
                    <h4>Alışveriş Özeti</h4>
                    
                    <img src="/assets/card.png" style="height: 170px;">
                </div>
                <div class="content-box" style="background-color: whitesmoke;">
                    <div class="text-center">
                        Sözleşme
                    </div>
                    <br>
                    <p style="font-size: small;">a)Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcıveya sağlayıcının kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmeler.</p>
                    <p style="font-size: small;"> b)Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlananmallara ilişkin sözleşmeler.</p>
                    <p style="font-size: small;">c)Çabuk bozulabilen veya son kullanma tarihi geçebilecek mallarınteslimine ilişkin sözleşmeler.</p>
                    <p style="font-size: small;"> d)Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara ilişkin sözleşmeler.</p>


                </div>
              
                    <div class="content-box">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="İndirim Kodu">
                        <br>
                       <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-sm">Gönder</button>
                       </div>
                       
                    </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Toplam</th>
                            <td>{{cart.total}} TL</td>
                        </tr>
                    </tbody>
                </table>
               

                <div class="text-center">
                    <div>
                        <button routerLink="/shop" class="btn btn-sm btn btn-primary" >
                            Alışverişe Devam Et
                        </button>
                        <button routerLink="/checkout" class="btn  btn-success btn-sm ml-2">
                            Alışverişi Tamamla
                        </button>
                    </div>
                </div>
                

            </ng-container>

           

        </div>
    </div>
</div>